backend/src/test/resources/performer2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.arranger.ime.usp.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.arranger.ime.usp.br/" name="PerformerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.arranger.ime.usp.br/" schemaLocation="http://127.0.0.1:8081/performer2/endpoint?xsd=1"/>
</xsd:schema>
</types>
<message name="run">
<part name="parameters" element="tns:run"/>
</message>
<message name="runResponse">
<part name="parameters" element="tns:runResponse"/>
</message>
<message name="BehaviorException">
<part name="fault" element="tns:BehaviorException"/>
</message>
<message name="setBehaviors">
<part name="parameters" element="tns:setBehaviors"/>
</message>
<message name="setBehaviorsResponse">
<part name="parameters" element="tns:setBehaviorsResponse"/>
</message>
<message name="setBehavior">
<part name="parameters" element="tns:setBehavior"/>
</message>
<message name="setBehaviorResponse">
<part name="parameters" element="tns:setBehaviorResponse"/>
</message>
<message name="exchangeMessages">
<part name="parameters" element="tns:exchangeMessages"/>
</message>
<message name="exchangeMessagesResponse">
<part name="parameters" element="tns:exchangeMessagesResponse"/>
</message>
<message name="getBehaviors">
<part name="parameters" element="tns:getBehaviors"/>
</message>
<message name="getBehaviorsResponse">
<part name="parameters" element="tns:getBehaviorsResponse"/>
</message>
<portType name="Performer">
<operation name="run">
<input wsam:Action="http://service.arranger.ime.usp.br/Performer/runRequest" message="tns:run"/>
<output wsam:Action="http://service.arranger.ime.usp.br/Performer/runResponse" message="tns:runResponse"/>
<fault message="tns:BehaviorException" name="BehaviorException" wsam:Action="http://service.arranger.ime.usp.br/Performer/run/Fault/BehaviorException"/>
</operation>
<operation name="setBehaviors">
<input wsam:Action="http://service.arranger.ime.usp.br/Performer/setBehaviorsRequest" message="tns:setBehaviors"/>
<output wsam:Action="http://service.arranger.ime.usp.br/Performer/setBehaviorsResponse" message="tns:setBehaviorsResponse"/>
</operation>
<operation name="setBehavior">
<input wsam:Action="http://service.arranger.ime.usp.br/Performer/setBehaviorRequest" message="tns:setBehavior"/>
<output wsam:Action="http://service.arranger.ime.usp.br/Performer/setBehaviorResponse" message="tns:setBehaviorResponse"/>
</operation>
<operation name="exchangeMessages">
<input wsam:Action="http://service.arranger.ime.usp.br/Performer/exchangeMessagesRequest" message="tns:exchangeMessages"/>
<output wsam:Action="http://service.arranger.ime.usp.br/Performer/exchangeMessagesResponse" message="tns:exchangeMessagesResponse"/>
<fault message="tns:BehaviorException" name="BehaviorException" wsam:Action="http://service.arranger.ime.usp.br/Performer/exchangeMessages/Fault/BehaviorException"/>
</operation>
<operation name="getBehaviors">
<input wsam:Action="http://service.arranger.ime.usp.br/Performer/getBehaviorsRequest" message="tns:getBehaviors"/>
<output wsam:Action="http://service.arranger.ime.usp.br/Performer/getBehaviorsResponse" message="tns:getBehaviorsResponse"/>
</operation>
</portType>
<binding name="PerformerImplPortBinding" type="tns:Performer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="run">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BehaviorException">
<soap:fault name="BehaviorException" use="literal"/>
</fault>
</operation>
<operation name="setBehaviors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setBehavior">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="exchangeMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BehaviorException">
<soap:fault name="BehaviorException" use="literal"/>
</fault>
</operation>
<operation name="getBehaviors">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PerformerImplService">
<port name="PerformerImplPort" binding="tns:PerformerImplPortBinding">
<soap:address location="http://127.0.0.1:8081/performer2/endpoint"/>
</port>
</service>
</definitions>